
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to Smart Mart!</p>
    <p>Browse our products and start shopping.</p>

    <a href="/Cart/Index" class="btn btn-primary">Go to Cart</a>

</div>
